@model MusicStore.WebUI.Models.ClientModelDto

@{
    ViewBag.Title = "DetailsClient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-3">
        <div class="row">
            <h4>Dane klienta: @Model.FirstName @Model.Surname</h4>
            <hr />
            <div class="col-md-5">





                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.FirstName)</td>
                            <th> @Html.DisplayFor(model => model.FirstName)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Surname)</td>
                            <th> @Html.DisplayFor(model => model.Surname)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.PhoneNumber)</td>
                            <th> @Html.DisplayFor(model => model.PhoneNumber)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.City)</td>
                            <th> @Html.DisplayFor(model => model.City)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Town)</td>
                            <th> @Html.DisplayFor(model => model.Town)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.PostCode)</td>
                            <th> @Html.DisplayFor(model => model.PostCode)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Street)</td>
                            <th> @Html.DisplayFor(model => model.Street)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.HouseNumber)</td>
                            <th> @Html.DisplayFor(model => model.HouseNumber)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.ApartamentNumber)</td>
                            <th> @Html.DisplayFor(model => model.ApartamentNumber)</th>
                            <td></td>
                        </tr>

                        <tr>
                            <td> @Html.DisplayNameFor(model => model.State)</td>
                            <th> @Html.DisplayFor(model => model.State)</th>
                            <td></td>
                        </tr>
                        <tr>
                            <td> @Html.DisplayNameFor(model => model.Country)</td>
                            <th> @Html.DisplayFor(model => model.Country)</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>





        </div>

        <p>
            @Html.ActionLink("Powrót do menu", "Index", null, new { @class = "btn btn-secondary" })
        </p>



    </div>
    <div class="col-md-2"></div>
</div>

