@model MusicStore.WebUI.Models.RegisterModelDto

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";

}
<p>@ViewBag.ErrorMessage</p>

<div class="container">
    <div class="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Login" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Password" ,@type="password"} })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.RepeatPassword, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Repeat Password",@type="password" } })
            @Html.ValidationMessageFor(model => model.RepeatPassword, "", new { @class = "text-danger" })

        </div>
        
        <div class="form-group">
            <div class="card-body">
                <input type="submit" name="submit" class="btn btn-primary w-100" value="Sign up" />
            </div>
        </div>
    </div>
        }
        <br>
    </div>
</div>
