@model MusicStore.Domain.Entities.Client

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div class="row mt-3">
    <div class="col-md-2">

       
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Dane klienta</h4>
            <hr />
            <div class="form-group">
                <div class="col-md-10">

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Imie" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                @*<label class="form-label" for="form3Example1">@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })</label>*@
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nazwisko" } })
                                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>


                    @*<label class="sr-only" for="inlineFormInputGroup"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                    </div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                </div>*@
                </div>
            </div>

            @*<div class="form-group mt-2">
            <div class="col-md-10">
                <label class="sr-only" for="inlineFormInputGroup"></label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"> @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                    </div>
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>*@

            @*<div class="form-group mt-2">
                <div class="col-md-10">
                    <label class="sr-only" for="inlineFormInputGroup"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"> @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                        </div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>*@

            <div class="form-outline mb-4">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefon" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                @*<label class="form-label" for="form3Example3">Email address</label>*@
            </div>




            @Html.HiddenFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz" class="btn btn-default btn-primary w-100" />
                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-md-2"></div>

</div>

