@model IEnumerable<MusicStore.Domain.Entities.ClientGenrePrefences>

@{
    ViewBag.Title = "GetPreferences";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>GetPreferences</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genreAppearances)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

  
</table>
