@model MusicStore.WebUI.Models.PreferencesViewModel

@{
    ViewBag.Title = "GetPreferences";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>GetPreferences</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Model.favCountry
@Model.favYear




<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model.genreList)
    {


        <tr>
            <td>
                @Html.DisplayFor(x => item.genre.Name)

            </td>
            <td>
                @Html.DisplayFor(x => item.genreAppearances)

            </td>


        </tr>
    }




</table>
<table class="table">
    <tr>
        <th></th>
    </tr>




    @foreach (var item in Model.artistList)
    {


        <tr>
            <td>
                @Html.DisplayFor(x => item.artist.Name)

            </td>

            <td>
                @Html.DisplayFor(x => item.sumLibrary)

            </td>
            <td>
                @Html.DisplayFor(x => item.sumWishlist)

            </td>
            <td>
                @Html.DisplayFor(x => item.listAlbums.First().Name)

            </td>



        </tr>
    }

</table>


<table class="table">
    <tr>
        <th></th>
    </tr>




    @foreach (var item in Model.labelList)
    {


        <tr>
            <td>
                @Html.DisplayFor(x => item.label.Name)

            </td>
            <td>
                @Html.DisplayFor(x => item.sumLibrary)

            </td>
            <td>
                @Html.DisplayFor(x => item.sumWishlist)

            </td>


        </tr>
    }

</table>

