@model IEnumerable<MusicStore.WebUI.Models.OrderAlbumModelDto>

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}



<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-3">

        <h2>Szczegóły</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                            </td>
                        </tr>
                    }




                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Wartość całkowita
                        </td>
                        <th>
                            @Model.First().TotalValue
                        </th>
                        <th>

                        </th>
                    </tr>
                </tfoot>
               
            </table>
        </div>


    </div>
    <div class="col-md-2">
        <div class="mt-3 float-end">
            @Html.ActionLink("Powrót do zamówień", "Orders", new { id = @Session["Id"] }, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>





