@model IEnumerable<MusicStore.Domain.Entities.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 mt-3">

        <h2>Lista zamówień</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Data)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            
                            <td>
                                 @Html.ActionLink("Details", "OrderDetails", new { id = item.Id }, new {@class= "btn btn-primary bi bi-bag-check-fill " })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>




@*<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

   
</table>*@
