@model MusicStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
@Html.ValidationSummary()
@foreach (var line in Model.Cart.Lines)
{
    <tr>
        <td class="text-start">@line.Product.album.Name</td>
        <td class="text-end">@line.Product.album.Price.ToString("c")</td>
        <td>
            @using (Html.BeginForm("RemoveFromCart", "Cart"))
            {
                @Html.Hidden("productId", line.Product.album.Id)
                @Html.HiddenFor(x => x.ReturnUrl)
                <input class="btn btn-sm btn-warning" type="submit" value="Usuń" />
            }
        </td>
    </tr>
}

@using (Html.BeginForm("ShippDetail", "Cart"))
{
    @Html.Partial("ShippDetail", Model.ShippingDetails)


    @Html.Hidden("Id", @Session["Id"])
    <div class="text-center">
        <input type="submit" value="Zakończ zamówienie" class="btn btn-primary" />
    </div>

}
