
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/LoginRegister.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>

        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                @Html.ActionLink("MusicStore", "Index", "Home", null, new { @class = "navbar-brand" })
                <div id="buttondesktop">
                    <div class="buttons_nav">
                        @Html.Action("Welcome", "Account")
                    </div>

                </div>

                <div id="hidebuttons">
                    <button type="button" class="navbar-toggler" style="text-decoration:none">
                        @Html.ActionLink(" ", "Index", "Cart", null, new { @class = "bi bi-cart" })
                    </button>
                    @if (@Session["Id"] != null)
                    {
                        <button type="button" class="navbar-toggler">
                            @Html.ActionLink(" ", "UserPanel", "Account", new {id=@Session["Id"]}, new { @class = "bi bi-person" })
                        </button>
                    }
                    else
                    {
                        <button type="button" class="navbar-toggler">
                            @Html.ActionLink(" ", "Login", "Account", null, new { @class = "bi bi-box-arrow-in-right" })
                        </button>
                    }

                    <button type="button" id="menubutton" class="navbar-toggler">
                        <a href="#"><i class="bi bi-list"></i></a>
                    </button>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div class="row">
                @Html.Action("Menu", "Nav")
                <div class="col-md-auto col-lg-8">
                    @RenderBody()
                </div>
                </div>
        </main>
    </div>



    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/musicstore.js"></script>

</body>
</html>
