@model MusicStore.Domain.Entities.AlbumAllDetails



<div class="card mb-4 box-shadow">
    @if (Model.album.ImageData != null)
    {
        <img class="card-img-top d-none d-sm-block"
             ,
             src="@Url.Action("GetImage","Home", new {productId=Model.album.Id})" alt="Card image cap" width="250" height="250">
        <img class="card-img-top d-block d-sm-none"
             ,
             src="@Url.Action("GetImage","Home", new {productId=Model.album.Id})" alt="Card image cap" >
    }
    <div class="card-body">
        <h5 class="card-title">@Model.album.Name</h5>
        <p class="card-text">@Model.artist.Name</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                @Html.ActionLink("Szczegóły", "GetAlbumDetail", "Home", new { id = Model.album.Id }, new { @class = "btn btn-sm btn-outline-secondary mx-1" })
                @if (Session["Login"] != null)
                {

                    @Ajax.ActionLink(" ", "AddToWishList", "Client", null,
                    new AjaxOptions { Url = Url.Action("AddToWishList", "Client", new { productId = Model.album.Id, clientId = Session["Id"] }), OnSuccess = "addToWishlist" },
                    new { @class = "btn btn-outline-warning btn-sm d-none d-md-block w-75 bi bi-balloon-heart" })


                }

            </div>

            <div class="btn-group float-end d-flex flex-column">
                <button class="btn btn-outline-primary float-none">@Model.album.Price.ToString("c")</button>
            </div>

        </div>
        <br />
        @Ajax.ActionLink("Dodaj do koszyka", "AddToCart", "Cart", null,
              new AjaxOptions { Url = Url.Action("AddToCart", "Cart", new { productId = Model.album.Id }), OnSuccess = "addcart" },
              new { @class = "btn btn-sm btn-danger  w-100" })
    </div>
</div>

