@model MusicStore.Domain.Entities.AlbumAllDetails


    <td>
        @Html.DisplayFor(item => item.album.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.artist.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.label.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.album.Year)
    </td>
    <td>
        @Html.DisplayFor(item => item.genre.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.country.Name)
    </td>
    <td>
        @Html.DisplayFor(item => item.album.Price)
    </td>
    <td>
        <button type="button" class="btn btn-outline-secondary">
            @Html.ActionLink(" ", "EditAlbum", new { id = Model.album.Id }, new { @class = "bi bi-pen-fill" })
        </button>
        <button type="button" class="btn btn-outline-secondary">
            @Html.ActionLink(" ", "DetailsAlbum", new { id = Model.album.Id }, new { @class = " bi bi-card-text" })
        </button>
        <button type="button" class="btn btn-outline-secondary">
            @*@Html.ActionLink(" ", "DeleteAlbum", new { id = Model.album.Id }, new { @class = " bi bi-trash3" })*@

            @Ajax.ActionLink(" ", "DeleteAlbum", "Admin", null,
                                new AjaxOptions { Url = Url.Action("DeleteAlbum", new { id = @Model.album.Id }), OnSuccess = "deleteData", Confirm = "Czy chcesz usunąć album?" },
                                 new { @class = " bi bi-trash3" })

        </button>

    </td>





