@model MusicStore.Domain.Entities.AlbumAllDetails

@*<div class="well">
    <h3>
        <strong>@Model.album.Name</strong>
        <span class="pull-right label label-primary">@Model.album.Price.ToString("c")</span>
    </h3>
    <span class="lead">@Model.artist.Name</span>
</div>*@


<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.album.Name</h5>
                <p class="card-text">@Model.artist.Name</p>
                @Html.ActionLink("Szczegóły", "GetAlbumDetail", new {id = Model.album.Id}, new { @class = "btn btn-primary" })
                <a href="#" class="btn btn-primary float-end">@Model.album.Price.ToString("c")</a>
                <br />
                <br />
                <div class="float-end">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @*<input type="hidden" name="productId" value="@Model.album.AlbumId"></input>*@
                        @Html.Hidden("productId", @Model.album.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
                    }

                </div>
            </div>
        </div>
    </div>
 </div>

