@model MusicStore.Domain.Entities.AlbumAllDetails


<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        @if (Model.album.ImageData != null)
        {
            <img class="card-img-top" 
                 ,
                 src="@Url.Action("GetImage", new {productId=Model.album.Id})" alt="Card image cap">
        }
        <div class="card-body">
            <h5 class="card-title">@Model.album.Name</h5>
            <p class="card-text">@Model.artist.Name</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    @Html.ActionLink("Szczegóły", "GetAlbumDetail", new { id = Model.album.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                </div>

                <div class="float-end">
                    <a href="#" class="float-end">@Model.album.Price.ToString("c")</a>
                    @*@using (Html.BeginForm("AddToCart", "Cart"))
        {
            <input type="hidden" name="productId" value="@Model.album.AlbumId"></input>
            @Html.Hidden("productId", @Model.album.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
        }*@

                    @Ajax.ActionLink("Dodaj do koszyka", "AddToCart","Cart", null,new AjaxOptions { Url = Url.Action("AddToCart","Cart", new { productId = Model.album.Id }), OnSuccess = "addcart" }, new { @class = "btn btn-sm btn-warning d-none d-md-block float-end w-75" })

                </div>
            </div>
        </div>
    </div>
</div>
